*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background:#eef0f3;
    height: 100%;
    width: 100%;
}
header{
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}
.logo{
    font-size: 20px;
    font-weight: 900;
    color: #000;
    transition: .5s;
}
.logo:hover{
    transform: scale(1.2);
}
header nav ul li{
    position: relative;
    float: left;
}
header nav ul li a{
    padding: 15px;
    color: #000;
    font-size: 16px;
    display: block;
}
header nav ul li a:hover{
    background: #000;
    color: #fff;
}
nav ul li ul{
    position: absolute;
    right: 0;
    width: min-content max-content;
    background: #fff;
    display: none;
}
nav ul li ul li{
    width: 100%;
}
nav ul li:hover > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.auth:hover>ul {
    display: block;
}
main{
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    margin-left: 350px;
    border-radius: 20px;
    background: #fff;
    height: auto;
}
section{
    padding: 20px;
    width: 60%;
    margin-top: 50px;
    margin-left: 350px;
    border-radius: 20px;
    background: #fff;
    height:auto;
}
.News{
    margin: 30px;
    display: block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
}
.like{
    margin-right: 10px;
    float: right;
    height: 25px;
    width: 23px;
    border: none;
    background:url(../../icons/icons8-сердце-25.png) ;
}
.like.active{
    background: url(../../icons/icons8-сердце-251.png);
}
span{
    float:right;
}
#menu__toggle{
    display: none;
}
@media(max-width:1325px){
    main{
        margin-left: 200px;
    }
    section{
        margin-left: 200px;
    }
}
@media(max-width:968px){
    header nav ul li a{
        padding: 8px;
        margin-top: 18px;
    }
    main{
        margin-left: 150px;
    }
    section{
        margin-left: 150px;
    }
    nav{
        height: 70px;
    }
}
@media(max-width:732px){
    #menu__toggle {
        opacity: 0;
      }
      #theme-toggle{
        margin-top: 8px;
      }
      .menu__btn {
        float: right;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
        margin-right: 20px;
        top: 20px;
        left: 20px;  width: 26px;
        height: 26px;  cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;  width: 100%;
        height: 2px;  background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: flex;
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;  width: 300px;
        height: 100%;  margin: 0;
        padding: 80px 0;  list-style: none;
        text-align: center;  background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      .menu__item {
        padding: 12px 24px;  color: #333;  font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;  text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }.menu__box {
      transition-duration: .25s;
    }.menu__item {
      transition-duration: .25s;
    }
}
@media(max-width:475px){
    main{
        width:90%;
        margin-left: 20px;
    }
    section{
        width: 90%;
        margin-left: 20px;
    }
}